<h1>Chirapat Wichitthammaros</h1>
<p>6331303821</p>
<img src="/me.jpg"></img>
<style>
table,th,td{
    border: 1px solid black
}
</style>
<table>
    <tr>
        <td> 1 </td>
        <td> one </td>
    </tr>
    <tr>
        <td> 2 </td>
        <td> two </td>
    </tr>
    
</table>